<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.habitissimo.vespapp">

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />

    <!--
    The ACCESS_COARSE/FINE_LOCATION permissions are not required to use
          Google Maps Android API v2, but are recommended.
    -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <uses-feature android:name="android.hardware.camera"
                    android:required="true"/>
    <uses-feature android:name="android.hardware.camera.autofocus" />

    <application
        android:name=".Vespapp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".sighting.NewSightingDataActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".info.InfoDescriptionActivity"
            android:label="@string/title_activity_info_description"
            android:theme="@style/AppTheme"
            android:screenOrientation="portrait" />
        <activity
            android:name=".sighting.NewSightingMapActivity"
            android:label="@string/title_activity_maps"
            android:theme="@style/AppTheme"
            android:screenOrientation="portrait" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />

        <activity
            android:name=".menu.ContactActivity"
            android:label="@string/title_activity_menu_contact"
            android:theme="@style/AppTheme"
            android:screenOrientation="portrait" />

        <activity
            android:name=".sighting.NewSightingLocationsActivity"
            android:label="@string/title_activity_menu_contact"
            android:theme="@style/AppTheme"
            android:screenOrientation="portrait" />

        <activity
            android:name=".questions.QuestionsActivity"
            android:label="@string/title_activity_menu_contact"
            android:theme="@style/AppTheme"
            android:screenOrientation="portrait"/>

        <activity
            android:name=".menu.AboutUsActivity"
            android:label="@string/title_activity_menu_about_us"
            android:theme="@style/AppTheme"
            android:screenOrientation="portrait"
            android:configChanges="keyboardHidden|orientation"/>

        <activity
            android:name=".sighting.SightingViewActivity"
            android:label="@string/title_activity_menu_contact"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />

        <activity
            android:name=".menu.ContributorsActivity"
            android:label="@string/title_activity_menu_contact"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
    </application>

</manifest>